.offers {
    width: 100%;
    display: flex;
    column-gap: 16px;

    background-color: #f4f4f4;

    padding: 50px 20px;

    overflow: hidden;
}

@media (max-width: 46.1875em) {
    .offers {
        display: grid;
        row-gap: 16px;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    /* 740 - 1023px  */
    .offers {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        row-gap: 16px;
    }
}
