.shop {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    // text-align: center;
}

.shop_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;

    padding: 32px;

    width: 100%;
    border-radius: 8px;

    color: white;
    background: radial-gradient(
        circle,
        rgba(46, 165, 162, 1) 0%,
        rgba(50, 190, 143, 1) 100%
    );
    background-size: cover;

    h2 {
        font-size: 35px;
    }

    span {
        font-size: 20px;
    }
}

.shop_filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;

    .shop_search {
        display: flex;
        align-items: center;
        column-gap: 6px;
        padding-left: 8px;
        padding-right: 8px;

        border: 1px solid #333;
        border-radius: 4px;
        input {
            width: 400px;
            height: 100%;
            outline: none;

            font-size: 16px;
            border: none;
        }
    }
}

.shop_product {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    // display: flex;
    // flex-direction: row;
    // // justify-content: space-between;
    // flex-wrap: wrap;
}

.shop_notfound {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: capitalize;
    font-style: italic;
    opacity: 0.8;

    color: var(--main-color);
}

//Shop pagination
.shop_pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    gap: 5px;

    padding: 50px 20px;
}

.shop_pagination_page-num {
    padding: 8px 15px;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;

    color: var(--main-color);

    &:hover {
        color: white;
        background-color: var(--main-color);
    }
}

.shop_pagination-active {
    padding: 8px 15px;

    border-radius: 3px;

    color: white;
    background-color: var(--main-color);
}

.shop_pagination-prev,
.shop_pagination-next {
    border: 1px solid var(--main-color);
    padding-left: 26px;
    padding-right: 26px;

    outline: none;

    color: var(--main-color);
}

// responsive

/* Mobile */
@media (max-width: 46.1875em) {
    /* <= 739px */
    .shop_filter {
        flex-direction: column;
        row-gap: 8px;

        .shop_search {
            input {
                width: 100%;
                height: 44px;
            }
        }
    }
    .shop_product {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    /* 740 - 1023px  */
    .shop_filter {
        .shop_search {
            input {
                width: 230px;
            }
        }
    }
    .shop_product {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    /*<= 1023px */
}

/* PC */
@media (min-width: 64em) {
    /* >=1024px */
}
