.product {
    width: 330px;
    border-radius: 8px;
    padding: 8px;
    margin: 12px;

    cursor: pointer;

    &:hover {
        transform: translateY(-1px);
        background: linear-gradient(225deg, #e6e6e6, #fff);
        box-shadow: -12px 12px 24px #d1d1d1;
    }
}

.product_image {
    height: 300px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
}

// .product_info {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     padding-top: 14px;
//     row-gap: 8px;

//     h3 {
//         height: 44px;
//     }

//     p {
//         text-transform: capitalize;
//         font-style: italic;
//         opacity: 0.8;
//     }
// }

// .product_button {
//     padding: 10px 24px;

//     text-decoration: none;
//     text-align: center;

//     color: var(--text-white);
//     background-color: var(--main-color);

//     border-radius: 4px;

//     &:hover {
//         opacity: 0.8;
//     }
// }

//grid
.product_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 14px;
    row-gap: 8px;

    h3 {
        height: 44px;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
    }

    p {
        text-transform: capitalize;
        font-style: italic;
        opacity: 0.8;

        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    h4 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }
}

.product_button {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
    padding: 14px 24px;

    border: none;
    outline: none;

    font-weight: 600;
    font-size: 16px;
    text-align: center;

    color: var(--text-white);
    background-color: var(--main-color);

    border-radius: 4px;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}

.product_add_to_cart {
    grid-column: 2 / 3;
    grid-row: 3 / 5;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    i {
        padding: 10px 16px;
        border-radius: 4px;

        color: white;
        background-color: var(--main-color);

        &:hover {
            opacity: 0.8;
        }
    }
}
