.sortby {
    width: 250px;
    position: relative;
}

.sortby_dropdown {
    padding: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;

    border: 1px solid #333;
    border-radius: 4px;

    span {
        text-transform: capitalize;
    }

    cursor: pointer;
}

.sortby_dropdown-list {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;

    max-height: 350px;
    z-index: 1;
    // overflow-y: scroll;

    background-color: white;

    border: 1px solid #333;
    border-radius: 4px;
}

.sortby_dropdown-item {
    padding: 8px;

    text-transform: capitalize;
    cursor: pointer;

    &:hover {
        color: var(--main-color);
    }
}

// responsive

/* Mobile */
@media (max-width: 46.1875em) {
    .sortby {
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    /* 740 - 1023px  */
    .sortby {
        width: 215px;
    }
}
