.checkout {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

.checkout_banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;

    padding: 32px;

    width: 100%;
    border-radius: 8px;

    color: white;
    background: radial-gradient(
        circle,
        rgba(46, 165, 162, 1) 0%,
        rgba(50, 190, 143, 1) 100%
    );
    background-size: cover;

    h2 {
        font-size: 35px;
    }

    span {
        font-size: 20px;
    }
}

.checkout_nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;

    h1 {
        color: var(--main-color);
    }

    &-button {
        color: var(--main-color);
        padding: 10px 40px;

        border-radius: 8px;
        border: 2px solid var(--main-color);

        font-weight: 600;
        text-decoration: none;
        &:hover {
            color: white;
            background-color: var(--main-color);
        }
    }
}

.checkout_main {
    width: 100%;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 2fr 1fr;

    border-top: 1px solid #333;
    padding: 50px 20px;
}
.checkout_info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    input {
        width: 100%;
        font-size: 16px;
        padding: 10px;
        border-radius: 8px;
    }
}

.checkout_info-contact,
.checkout_info-address {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    h2 {
        color: var(--main-color);
    }
}

.checkout_total {
    padding: 20px;

    color: white;
    background-color: var(--main-color);

    border-radius: 8px;
}

.checkout_total-sub {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    padding-bottom: 20px;

    border-bottom: 1px solid #333;
}

.checkout_total-main {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    padding-top: 20px;
}

.checkout_total-item {
    display: flex;
    justify-content: space-between;

    span {
        font-weight: 600;
    }
}

.checkout_total-button {
    padding: 16px;

    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        transform: scale(1.01);
    }
}

// responsive

/* Mobile */
@media (max-width: 46.1875em) {
    /* <= 739px */
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    /* 740 - 1023px  */
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    /*<= 1023px */
}

/* PC */
@media (min-width: 64em) {
    /* >=1024px */
}
