.trending_prod {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    padding: 50px 20px;
}

// .trending_product-items {
//     display: flex;
//     justify-content: space-between;
// }

.trending_product-slider {
    position: relative;
    .slick-list {
        overflow: hidden;
    }
    .slick-track {
        display: flex;
        justify-content: space-between;
    }

    .slick-arrow {
        padding: 8px 24px;

        color: var(--main-color);
        border: 2px solid var(--main-color);
        background-color: white;

        font-weight: 600;

        border-radius: 8px;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: var(--main-color);
        }
    }
    .slick-next {
        position: absolute;
        // top: -30px;
        right: 0;
    }
    .slick-prev {
        position: absolute;
        // top: -30px;
        right: 90px;
    }
}
/* responsive */
/* Mobile */
@media (max-width: 46.1875em) {
    // .trending_product-items {
    //     display: grid;
    //     row-gap: 48px;
    // }
    .trending_product-slider {
        .slick-next {
            bottom: -30px;
        }
        .slick-prev {
            bottom: -30px;
        }
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    /* 740 - 1023px  */
    // .trending_product-items {
    //     display: grid;
    //     grid-template-columns: repeat(2, minmax(0, 1fr));
    //     row-gap: 16px;
    // }
}

/* Tablet & PC */
@media (min-width: 46.25em) {
    /* >=740px  */
    .trending_product-slider {
        .slick-next {
            top: -35px;
        }
        .slick-prev {
            top: -35px;
        }
    }
}
