.cart_item {
    width: 100%;
}

.cart_item-title {
    h4 {
        color: var(--main-color);
        text-transform: uppercase;
    }

    :not(:first-child) {
        text-align: center;
    }
}

.cart_item-null {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    color: var(--main-color);

    font-style: italic;

    border-top: 1px solid var(--main-color);
}

.cart_item-title,
.cart_item-product {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.cart_item-product {
    border-top: 1px solid var(--main-color);
    padding: 16px 0;

    .cart_item-image {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
            width: 100px;
            max-width: 100%;
            object-fit: contain;
        }
    }

    .cart_item-product-name,
    .cart_item-product-price,
    .cart_item-product-quantity,
    .cart_item-product-delete {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        text-align: center;
    }

    .cart_item-product-delete {
        &:hover {
            cursor: pointer;
            color: var(--main-color);
        }
    }

    .cart_item-product-quantity {
        border: 1px solid #333;
        border-radius: 4px;

        i {
            padding: 10px 20px;

            &:hover {
                cursor: pointer;
            }
        }

        p {
            padding: 10px;
        }
    }
}

// responsive

/* Mobile */
@media (max-width: 46.1875em) {
    .cart_item-title {
        display: none;
    }

    .cart_item-product {
        grid-template-columns: 1fr 2fr;
        row-gap: 6px;
        column-gap: 6px;

        .cart_item-image {
            justify-content: center;
        }
    }

    .cart_item-product-quantity {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }

    .cart_item-product-delete {
        grid-column: 2 / 3;
        grid-row: 3 / 4;

        height: 40px;
    }
    .cart_item-product-price {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }
}
