.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;

    background-color: #fff;

    z-index: 50;

    &_container {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;

        .header_logo {
            justify-items: left;
        }

        .header_menu {
            justify-content: center;
        }

        .header_button {
            justify-content: right;
        }

        padding: 0 20px;

        height: 70px;

        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
            0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
}

.header_logo-icon {
    color: var(--main-color);
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-decoration: none;
}

.header_menu {
    display: flex;
    column-gap: 12px;
    position: relative;

    &-item {
        padding: 10px 24px;
        color: #333;
        text-decoration: none;

        &:hover {
            color: var(--main-color);
        }
    }
}

.header_menu-item.active {
    color: white;
    position: relative;
    transition: all 0.5s linear;
    z-index: 5;
    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        border-radius: 30px;
        z-index: -1;
        animation: effect 0.2s linear;
    }
    @keyframes effect {
        0% {
            transform: scale(0.5);
            opacity: 0;
        }
        100% {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.header_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 18px;

    &-userimg {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }

    &-login {
        padding: 10px 12px;
        color: var(--main-color);
        transition: 0.3s;
        border-radius: 50%;

        &:hover {
            opacity: 0.8;
            color: var(--text-white);
            background-color: var(--main-color);
        }
    }

    &-cart {
        padding: 10px 24px;
        border-radius: 30px;
        width: 150px;
        text-align: center;

        color: white;
        background-color: var(--main-color);

        text-decoration: none;

        &:hover {
            opacity: 0.8;
        }
    }
}

//cart have items
.header_button {
    &-cart-haveitems {
        background: linear-gradient(
            90deg,
            #ff0000,
            #ffff00,
            #ff00f3,
            #0033ff,
            #ff00c4,
            #ff0000
        );
        background-size: 400%;
        animation: animate 10s linear infinite;
    }
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}
//cart have items

.header_show-submenu-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    i {
        border-radius: 50%;
        padding: 10px 12px;

        color: white;
        background-color: var(--main-color);
    }
}

.header_submenu {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100vh;
    top: 100%;
    left: 0;

    background-color: #fff;

    &-button {
        margin-top: 18px;
        padding: 10px 35px;
        border-radius: 5px;

        text-decoration: none;

        color: white;
        background-color: var(--main-color);
    }

    &-button.active {
        color: white;
        background-color: var(--main-color);
    }

    &-username {
        padding: 10px 12px;
    }
}

// responsive header

/* Mobile */
@media (max-width: 46.1875em) {
    /* <= 739px */
    .header {
        &_container {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .header_menu-item {
        padding: 14px 35px;
    }

    .header_menu {
        display: none;
    }

    .header_button {
        display: none;
    }

    .header_submenu {
        height: 100vh;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    /* 740 - 1023px  */
    .header_show-submenu-button {
        display: none;
    }
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
    /*<= 1023px */
}

/* PC */
@media (min-width: 64em) {
    /* >=1024px */
    .header_show-submenu-button {
        display: none;
    }
}
