.single_product {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 24px;
    width: 100%;
}

.single_product_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    row-gap: 24px;
}
.single_product_image-zoom {
    max-width: 100%;
    height: 300px;
    overflow: hidden;
}
.single_product_image-thumnail {
    display: flex;
    justify-content: center;
    overflow-x: scroll;

    width: 100%;

    // .thumnail {
    //     width: 100px;
    //     height: 70px;
    //     object-fit: cover;
    //     &:hover {
    //         transform: scale(0.9);
    //     }

    //     &:not(:first-child) {
    //         margin-left: 6px;
    //     }
    // }

    img {
        width: 100px;
        height: 70px;
        object-fit: cover;
        &:hover {
            transform: scale(0.9);
        }

        &:not(:first-child) {
            margin-left: 6px;
        }
    }

    &::-webkit-scrollbar {
        // height: 5px;
        display: none;
    }
    // &::-webkit-scrollbar-track {
    //     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    //     border-radius: 10px;
    // }
    // &::-webkit-scrollbar-thumb {
    //     border-radius: 10px;
    // }
}

.single_product-details {
    // width: 50%;
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;
    // flex: 1;

    height: 100%;

    h2 {
        color: #ed3324;
    }

    button {
        padding: 16px 50px;

        border: none;
        border-radius: 8px;

        color: white;
        background-color: var(--main-color);

        font-size: 16px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.single_product-vote {
    display: flex;
    column-gap: 8px;
    i {
        color: #fdd836;
    }
}

.single_product-discount {
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    margin-left: 10px;

    color: white;
    background-color: #ed3324;

    font-weight: bold;
    font-size: 16px;
}

.single_product-sale {
    display: flex;

    p {
        color: #979797;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        text-decoration: line-through;
    }
}

.single_product-stock {
    display: flex;
    column-gap: 8px;
    span {
        font-weight: bold;
    }
}

.single_product-decs {
    display: flex;
    column-gap: 8px;
    span {
        font-weight: bold;
    }
}

.single_product-quantity {
    display: flex;
    column-gap: 8px;
    span {
        font-weight: bold;
    }
}

/* responsive */
/* Mobile */
@media (max-width: 46.1875em) {
    .single_product {
        display: grid;
        grid-template-columns: 1fr;
    }

    .single_product_image {
        overflow: hidden;
        margin-bottom: 24px;
    }

    .single_product_image-thumnail {
        overflow-x: scroll;
        justify-content: stretch;
    }
}

/* Tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    /* 740 - 1023px  */
    .single_product_image-thumnail {
        overflow-x: scroll;
        justify-content: stretch;
    }
}
