.single_product {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 24px;
    width: 100%;
}

.single_product-image {
    position: relative;
    // flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;

    img {
        object-fit: contain;
    }

    .slick-list {
        width: 440px;
        height: 310px;
        overflow: hidden;
    }
    .slick-track {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    .slick-arrow {
        position: absolute;
        left: 50%;
        // bottom: -38px;
        bottom: 0;

        padding: 8px 24px;

        color: var(--main-color);
        border: 2px solid var(--main-color);
        background-color: white;

        font-weight: 600;

        border-radius: 8px;
        cursor: pointer;

        &:hover {
            color: white;
            background-color: var(--main-color);
        }
    }

    .slick-prev {
        transform: translateX(-100px);
    }
    .slick-next {
        transform: translateX(20px);
    }
}

.single_product-details {
    // width: 50%;
    display: flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;
    // flex: 1;

    height: 100%;

    h2 {
        color: #ed3324;
    }

    button {
        padding: 16px 50px;

        border: none;
        border-radius: 8px;

        color: white;
        background-color: var(--main-color);

        font-size: 16px;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

.single_product-vote {
    display: flex;
    column-gap: 8px;
    i {
        color: #fdd836;
    }
}

.single_product-discount {
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    margin-left: 10px;

    color: white;
    background-color: #ed3324;

    font-weight: bold;
    font-size: 16px;
}

.single_product-sale {
    display: flex;

    p {
        color: #979797;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        text-decoration: line-through;
    }
}

.single_product-stock {
    display: flex;
    column-gap: 8px;
    span {
        font-weight: bold;
    }
}

.single_product-decs {
    display: flex;
    column-gap: 8px;
    span {
        font-weight: bold;
    }
}

.single_product-quantity {
    display: flex;
    column-gap: 8px;
    span {
        font-weight: bold;
    }
}

/* responsive */
/* Mobile */
@media (max-width: 46.1875em) {
    .single_product {
        display: grid;
    }
}
